
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Banque{% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container">

    {% if is_granted('ROLE_USER') %}

 <a href="{{ path('lic_banque_membre') }}"> profil</a> &nbsp;/
 <a href="{{ path('lic_banque_compte') }}"> compte</a> &nbsp;/
 <a href="{{ path('lic_banque_famille') }}"> famille</a> &nbsp;/
 {# <a href="{{ path('lic_banque_compte') }}"> virement</a> &nbsp;//#}
 <a href="{{ path('lic_banque_home') }}">liste mouvements</a> &nbsp;/
 <a href="{{ path('lic_banque_ajouter') }}">Ajouter un mouvement</a> &nbsp;/

 <a href="{{ path('logout') }}">se deconnecter</a> &nbsp;
</br></br>


{% endif %}


     {% block body %}
     {% endblock %}


<footer>
 <p> {{ 'now'|date('d M Y') }} </p>
</footer>
</div>

{% block javascripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>