
{% extends "/layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}




    Information du compte id : {{ compte.id }}
    <ul>
        <li>numero : {{ compte.numeroCompte }}</li>
        <li>solde : {{ compte.solde }}</li>
        <li>date de Creation : {{ compte.dateCreationCompte|date("d/m/Y")  }}</li>
    </ul>



    liste des droits

    <ul>
        {% for droit in droits %}
            <ul>
                <li>id : {{ droit.id }}  /
                    membre : {{ droit.membre.nom }} {{ droit.membre.prenom }} /
                    compte : {{ droit.compte.numeroCompte }} /
                    niveau :
                        {% if droit.niveauDroit.virement %} virement {% endif %}
                        {% if droit.niveauDroit.lecture %} lecture {% endif %}
                        {% if droit.niveauDroit.ecriture %} ecriture {% endif %}
                </li>
            </ul>

        {% else %}
            <li>Pas (encore !) de droit</li>
        {% endfor %}
    </ul>


{% endblock %}