
{% extends "/layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}


    Information du membre id : {{ membre.id }}
    <ul>
        <li>nom : {{ membre.nom }}</li>
        <li>prenom : {{ membre.prenom }}</li>
        <li>adresse : {{ membre.adresse }}</li>
        <li>famille : {{ membre.famille.nom }}</li>
    </ul>


{% endblock %}