

<h3>Formulaire</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {{ form_errors(form) }}


    {{ form_row(form.dateMouvement) }}
    {{ form_row(form.montant) }}
    {{ form_row(form.valider) }}
    {{ form_row(form.membre) }}
    {{ form_row(form.moyenPaiement) }}
    <div class="form-group">
        {{ form_label(form.description, "description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-10">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>



    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}


    {{ form_rest(form) }}


    {{ form_end(form) }}
</div>