
{% extends "/layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    Information du mouvement id : {{ mouv.id }}
    <ul>
        <li>montant : {{ mouv.montant }}</li>
        <li>compte : {{ mouv.compte.numeroCompte }}</li>
        <li>membre : {{ mouv.membre.nom }}</li>
        <li>repetitif : {{ mouv.repetitif.id }}</li>
        <li>description : {{ mouv.description }}</li>
        <li>rapprochement : {{ mouv.rapprochement }}</li>

        <li>valider : {{ mouv.valider }}</li>
    </ul>


{% endblock %}